---
import { Image } from "astro:assets";

const { img, alt, href, title, description } = Astro.props;
---

<article class="flex flex-col sm:flex-row items-center gap-6 lg:gap-5">
  <!-- Image -->
  <div
    class="
      shrink-0
      w-full h-64
      sm:w-full sm:max-w-96 sm:h-60 lg:w-50 lg:h-50
      rounded-2xl
      overflow-hidden
      shadow-[0_10px_24px_rgba(0,0,0,0.08)]
    "
  >
    <Image
      src={img}
      alt={alt}
      class="w-full h-full object-cover"
    />
  </div>

  <!-- Text -->
  <div>
    <a
      href={href}
      class="block font-heading font-semibold text-xl text-neutral-900 underline text-center sm:text-left"
    >
      {title}
    </a>

    <p class="text-lg leading-relaxed text-neutral-700 mt-2">
      {description}
    </p>
  </div>
</article>
