---
import { Image } from 'astro:assets'

const { img, imgAlt, href, title, description } = Astro.props
---

<style>
  :root {
    --card-bg-color: #124747;
    --card-title-color: #d4972c;
  }
</style>

<article
  class="group flex h-full flex-col overflow-hidden rounded-xl bg-white
         shadow-md transition-all duration-300 ease-out
         hover:-translate-y-1 hover:scale-[1.02] hover:shadow-xl
         motion-reduce:transition-none">
  <div>
    <Image src={img} alt={imgAlt} class="block h-50 w-full object-cover rounded-t-xl" />
  </div>

  <div class=" flex-1 bg-(--card-bg-color) p-5.5">
    <a
      href={href}
      class="block mb-2.5 mt-3 text-center font-heading text-[1.4rem] text-(--card-title-color) underline">
      {title}
  </a>

    <p
      class=" m-0 text-center font-body text-base leading-[1.6] text-white">
      {description}
    </p>
  </div>
</article>
