---
import '../styles/global.css';
import Header from '../components/shared/Header.astro';

interface Props {
	title?: string;
	description?: string;
}

const { title = "NHM Travels", description = "Timeless Journeys Through Iran" } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>

        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website" />
        <meta property="og:url" content={Astro.url} />
        <meta property="og:title" content={title} />
        <meta property="og:description" content={description} />
        <meta property="og:image" content={new URL("/favicon.svg", Astro.url)} />

        <!-- Twitter -->
        <meta property="twitter:card" content="summary_large_image" />
        <meta property="twitter:url" content={Astro.url} />
        <meta property="twitter:title" content={title} />
        <meta property="twitter:description" content={description} />
        <meta property="twitter:image" content={new URL("/favicon.svg", Astro.url)} />

        <!-- Sitemap -->
        <link rel="sitemap" href="/sitemap-index.xml" />

        <!-- Google Fonts -->
		<link
            href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600;700&family=Montserrat:wght@300;400;500;600&display=swap"
            rel="stylesheet"
        />
	</head>
	<body>
        <Header />
		<main>
			<slot />
		</main>
	</body>
</html>